<div class="header">
  <div class="home-link">
    <%= link_to 'Wikinimous', articles_path %>
  </div>
  <div class="new-link">
    <%= link_to 'New Article', new_article_path %>
  </div>
</div>

<% @articles.each do |article| %>
<div class="article">
  <div class="article-title">
    <%= link_to article.title, article_path(article.id) %>
  </div>
  <div class="article-content">
    <p>"<%= article.content %>"</p>
  </div>
</div>
<% end %>
